$primary-color: #c094a6;
$secondary-color: white;

$primary-font-size: 1em;
$secondary-font-size: 0.8em;

$primary-padding: 1rem;

$font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

$border-radius: 4px;

$desktop: 1024px;
